{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<h1 class=" text-center my-4">BACKOFFICE</h1>
<p class="text-center">Bienvenue sur votre BackOffice</p>

<a href="{{ path('yametekudasai')}}" class="col-md-6 offset-md-3 btn btn-info mb-2">ACCUEIL EASYADMIN</a>


{% endblock %}
